.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.calc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-color: slategray;
  border-style: solid;
  border-radius: 25px;
  background-color: slategray;
  border-width: 10px;
  height: 400px;
  width: 240px;
}
.display {
  display: flex;
  justify-content: flex-end;
  height: 60px;
  width: 240px;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;

  color: white;
  border-color: black;
  border-style: solid;
  border-radius: 25px;
}
.button {
  height: 60px;
  width: 60px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  border-color: grey;
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  background-color: lightcyan;
  margin-top: 5px;
  outline: none;
}
.buttonContainer {
  height: 340px;
  width: 240px;
  border-color: slategray;
  border-style: solid;
  border-radius: 25px;
  background-color: lightsteelblue;
}

#equals {
  width: 240px;
  background-color: palegreen;
  border-color: slategray;
  border-style: solid;
}

#clButton {
  background-color: orange;
  width: 60px;
  margin-top: 5px;

  font-size: 18px;
}
